/**
 * Created by danieljette on 15-11-25.
 * Copyright © 2015 Shopify. All rights reserved.
 */

boolean isRecordMode = false;
String testRunner;
String applicationPackage;

android {
    defaultConfig {
        testRunner = testInstrumentationRunner;
        applicationPackage = applicationId;
    }
}

private String getAdbPath() {
    return project.android.getAdbExe().toString();
}

private String getDeviceImageDirectory() {
    return "/data/data/com.shopify.shopify.debug/app_images/";
}

private void pullScreenshots() {
    println("Copying files...")

    def src = getDeviceImageDirectory() + "."
    def dst = "./Shopify/src/androidTest/assets/screenshots/" + getDeviceKey() + "/"
    def command = [getAdbPath(), "-e", 'pull', src, dst]
    command.execute()

    // Wait for all the files to be committed to disk
    sleep(10000);

    println("Ready")
}


task recordMode(type: DefaultTask, group: "Screenshot", description: "Enable recording of the baseline images for Android screenshot tests") {
    doFirst {
        isRecordMode = true;
    }
}

task pullScreenshots(type: DefaultTask, group: "Screenshot", description: "Download the Android screenshot test images from the device") {
    doLast {
        pullScreenshots();
    }
}

task clearScreenshots(type: DefaultTask, group: "Screenshot", description: "Remove any existing screenshot test images from the device") {
    doLast {
        def command = [getAdbPath(), '-e', 'shell', 'rm', getDeviceImageDirectory() + "*.png"]
        def process = command.execute()
        process.in.eachLine { line -> println line }
    }
}

task screenshotTest(type: DefaultTask, dependsOn: [":Shopify:installDebug", ":Shopify:installDebugAndroidTest"], group: "Screenshot", description: "Run the Android screenshot tests") {
    doLast {

        hidePasswords();

        def command = [getAdbPath(), '-e', 'shell', 'am', 'instrument', '-e','annotation', 'com.shopify.testify.annotation.ScreenshotInstrumentation', '-w', applicationPackage + ".debug.test/" + testRunner ]
        def log = command.execute().text
        log.eachLine { line -> println line }

        if (!isRecordMode && (log.contains("FAILURES!!!") || log.contains("INSTRUMENTATION_CODE: 0") || log.contains("Process crashed while executing")) ) {
            throw new Exception("Screenshot tests failed");
        }

        if (isRecordMode) {
            pullScreenshots();
        }
    }
}
